.card{
    width: 350px;
    height: 500px;

    border-radius: 50px 0;
    border: none;

    box-shadow: 0 0 12px white;

    padding: 28px;
    margin: 40px 80px;

    text-align: left;

    position: relative;
}

img{
    width: 100%;

    border-radius: 8px;
}

a img:hover{
    transform: translateY(-7px);
}

.title{
    font-size: 28px;
    font-weight: 600;

    margin-top: 20px;

    text-align: center;
}
.text{
    font-size: 20px;
    font-weight: 600;
}

article div{
    position: absolute;
    bottom: 25px;
}

article div button{
    font-size: 15px;
}