.presentation{
    text-align: left;

    margin-top: 100px;
    margin-left: 15%;
}

.text{
    font-size: 30px;
    color: #BCBCBC;

    margin-left: 55px;
}

section div{
    margin-left: 100px;
}

section div button{
    font-size: 28px;
}