.presentation{
    
    text-align: left;

    margin: 100px 100px 35px 100px;
}
.presentation h1{
    margin: 0 0 0 50px;
}


.text{
    font-size: 30px;
    color: #BCBCBC;

    margin: 50px 0 50px 100px;
}

.presentation div button{
    font-size: 28px;
    margin: 0 0 0 150px;
}