.block{
    display: block;

    position: relative;
}

.block svg{
    margin: 20px;

    border: solid 3px rgb(109, 49, 188);
    border-radius: 12px;

    transition-duration: 0.5s;
}

.block svg:hover{
    color: yellow;
    border: solid 6px yellow;

    transform: translateY(-10px);

    transition-duration: 0.5s;
}

.description{
    position: absolute;
    display: none;
}

.block:hover .description{
    display: block;
    font-size: 20px;
}