.navbar{
    padding-left: 25%;
    padding-right: 10%;
}

.navbar, ul{
    display: flex;
    justify-content: space-between;
}

ul{
    font-size: 30px;
    list-style-type: none;
    padding: 0;
}

li{
    padding: 8px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.internalLinks{
    width: 60%;
}

.externalLinks{
    width: 10%;
}

.externalLinks svg:hover{
    transform: translateY(-7px);
}