.aboutme{
    margin: 50px 100px;
}

.aboutme h1{
    text-align: left;
    margin: 0px 0px 25px 50px;
}

.timelinewraper{
    position: relative;
    width: 85%;
    height: 280px;
    
    display: flex;
    justify-content: center;
    margin: auto;
}

.linearea{
    position: absolute;
    top: 22%;

    width: 79%;
}

.event{
    width: 25%;
    position: relative;
    min-height: 400px;
    float: right;
}

.date{
    position: absolute;
    top: 0;
    left: 41%;
}

.boxcontent{
    position: absolute;
    top: 19%;

    font-size: 22px;
    font-weight: 600;
}