.timeline{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linearea{
    background-color: white;
    width: 75%;
    height: 6px;
    position: absolute;
    top: 65%;
}

.item::after{
    content: '';
    display: block;
    margin: auto;
    background-color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}